/*-------------------------------------------------------------------------------------------------------------
    Explain : 지앤파트너
    File : common.scss
    Date   : 2024.10.22
    Ver 1.0.0
/*------------------------------------------------------------------------------------------------------------*/

@import "_reset";
@import "_mixin";
@import "_contents";
@import "_mobile";